# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# .idea directory (not necessary for git)
# out directory (not necessary for git)
/.idea/
/out/
